.textarea{
    text-indent: 10px;
    width: 100%;
    border-style: solid;
    border-color: rgb(219, 217, 69);
}

.grid-wrap{
    margin-top: 20px;
    display: grid;
    grid-template-areas:
    "create__author  create__authorsList"
    "create__duration  create__courseAuthors";
}
.create__author input,.create__duration input{
    width: 90%;
}
.create__author button{
    margin: 20px auto 0;
}
.grid-wrap h2{
    margin-bottom: 30px;
}
form{
    padding:30px;
    outline:1px solid rgb(8, 48, 226);
}

.create__title{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items:flex-end;
}
.create__title button{
    margin:0;
}

.create__courseAuthors li, .create__authorsList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.create__courseAuthors button{
    margin:0;
}

.btn__addAuthor{
    margin:0;
}

.create__input{
    width: 45%;
}