nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid red;
    padding: 0 30px;
}
.nav__block{
    display: flex;
    align-items: center;
}
.nav__block p{
    margin-right:50px;
}